<!-- <p>
  {{birthday }}
</p>

<p>
 My birthday simple formatted {{birthday | date }}
</p>

<p>
  My birthday simple formatted {{birthday | date: 'yyyy/MM/dd' }}
 </p>
 
 <p>
  My birthday simple formatted {{birthday | date: 'fullDate' }}
 </p>

 <button (click)="setFormat()">setFormat</button>
 <p>{{birthday | date: formatted | uppercase }}</p>


 <p>{{cash | currency: 'USD' : 'code' }}</p>

 <p>{{chars|reverseString}}</p> -->

 {{dataResults|json}}

 <table>
  <tr *ngFor="let res of dataResults">
      <td>{{res.name}}</td>
      <td>{{res.age}}</td>
  </tr>
</table>