<!-- Developed By Davide Antonino Vincenzo Micale -->
<!-- Il contentitore è il flex container, utile per poter organizzare le dimensioni degli elementi in modo responsive.
     Con fxLayout definisco sia l'ordine con cui i contenitori dovranno essere visualizzati. Nel caso specifico è stato
     impostato che i contenitori dovranno essere mostrati uno dopo l'altro in un'unica riga.
     Con fxLayout.lt-md impongo che la regola deve essere usata nel caso di schermo più piccolo del medio. Nel caso
     specifico è stato impostato che i contenitori dovranno essere mostrati in ordine inverso in un'unica colonna uno
     dopo l'altro (prima viene mostrato l'ultimo contenitore, poi il primo).
     Con fxLayoutAlign definisco l'allineamento dei contenitori per ciascun asse. Nel caso specifico è stato impostato
     con start che per l'asse orizzontale si parte dalla sinistra andando verso destra e tutto l'eventuale spazio rimanente và a
     destra, mentre nell'asse verticale è stato impostato con stretch che i contentitori prendessero tutta l'altezza disponibile -->
<div class="main-content" fxLayout="row" fxLayout.lt-md="column-reverse" fxLayoutAlign="start stretch">
  <!-- Con fxFlex imposto come si dovrà ridimensionare il contenitore. Nel caso specifico, con nogrow il contentitore prenderà lo
       spazio in grandezza che gli serve. Se c'è altro spazio vuoto disponibile, lui non ne potrà usufruire -->
  <div fxFlex="nogrow"> 
      <!-- Creo una card per contenere i filtri-->
      <mat-card>
          <!-- Nell'header inserisco il titolo della card-->
          <mat-card-header>
              <h4>Filtri</h4>
          </mat-card-header>
          <!-- Nel contenuto inserisco i filtri-->
          <mat-card-content>
            <!-- I campi sono inseriti all'interno del form per sfruttare principalmente l'observable offerto dal formGroup che
                 a ogni modifica effettuata nei campi emette un evento. Con [formGroup] associo il formGroup di nome filtersForm definito 
                 nel component e lo associo al form -->
            <form name="filtersForm" [formGroup]="filtersForm">
                <p>
                    <!-- Il primo campo, con stile angular material, è l'eventSchedule che contiene il filtraggio del nome dell'evento -->
                    <mat-form-field>
                        <!-- matInput permette di impostare gli stili angular all'elemento. 
                            Con aria-label indico una descrizione che possa essere mostrata da coloro che usano gli screen reader principalmente.
                            Con formControlName indico al formGroup con quale nome il campo deve associato. In questo caso, all'interno del
                            componente, questo campo avrà come nome eventSchedule
                            Con placeholder indico il testo che deve essere mostrato quando non è stato scritto nulla nel campo di input. Grazie
                            a Material questo testo non scompare quando si scrive nel campo, bensì si trasforma in etichetta del campo -->
                        <input type="text" name="eventSchedule" matInput aria-label="Nome dell'evento" placeholder="Nome dell'evento" 
                                formControlName="eventSchedule">
                    </mat-form-field>
                </p>
                <p>
                    <!-- Il secondo campo sarà per filtrare gli schedule per l'aula che la ospita -->
                    <mat-form-field>
                        <!-- mat-select è come la select, ma con lo stile angular. Al suo interno sono contenute le opzioni che può scegliere
                             l'utente-->
                        <mat-select name="roomId" placeholder="Aula" aria-label="Aula" formControlName="roomId">
                            <!-- La prima opzione, indica che vengono mostrati tutte le aule -->
                            <mat-option value="">Tutte</mat-option>
                            <!-- Questa opzione viene generata da Angular tante volte quante sono le aule contenute nell'array' rooms. 
                                 *ngFor è la direttiva che si occupa di ripetere il template, in questo caso l'opzione, per ogni elemento
                                 presente nell'iterabile che gli viene passato come parametro, in questo caso l'array rooms.
                                 Con "let room of rooms" sto associando l'iterazione di rooms alla variabile room. Questo mi permette di
                                 mostrare all'interno di value l'id dell'aula e di mostrare all'utente il nome dell'opzione che consiste
                                 nel nome della stanza, utilizzando l'interpolation binding di Angular che si occupa di mostrare i valori nel
                                 template -->
                            <mat-option *ngFor="let room of rooms" value="{{room.id}}">{{ room.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
            </form>
            <p>
                <!-- Il bottone si occupa di resettare i campi del form. 
                     Con mat-raised-button indico lo stile del bottone.
                     Con color indico lo schema di colori che deve possedere il bottone, in questo caso il secondario
                     Con (click) associo l'evento del click dell'utente del bottone alla funzione reset() presente nello CalendarComponent
                     Il tag mat-icon permette di mostrare una icona a schermo. Viene passato il nome dell'icona da visualizzare che in 
                     questo caso è l'icona clear -->
                <button mat-raised-button color="secondary" (click)="reset()"><mat-icon>clear</mat-icon> Reset</button>
            </p>
          </mat-card-content>
      </mat-card>
  </div>
  <!-- Con fxFlex indico che il contenitore usufruirà di eventuale spazio disponibile, di rimpicciolirsi
       se è troppo largo da non riuscire ad entrarci -->
  <div fxFlex>
      <!-- Con mat-progress-bar mostro una barra di progresso. Utile per segnalare all'utente che gli appuntamenti sono
           in fase di caricamento. Con mode indico la tipologia della barra, in questo caso è indeterminata, non dipendente
           da una percentuale di caricamento. La barra viene mostrata solo se la variabile loading del componente è impostata
           a true --> 
     <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
     <!-- Il jqxScheduler si occupa di mostrare gli eventi a schermo. Con width ed height imposto rispettivamente la 
     larghezza e l'altezza dello scheduler. 
     source permette di importare nello scheduler gli eventi e in questo caso, attraverso la direttiva
     Angular, prende i dati dal dataAdapter con l'apposito binding. 
     view permette di impostare il modo di visualizzare gli eventi, ad esempio in questo caso è stato
     in modo da mostrare la timeline di un singolo giorno.
     appointmentDataFields permette allo scheduler di conoscere per ogni campo del jqxScheduler a quale
     campo corrisponde rispetto all'adattatore dataAdapter. Esso è bindato alla appointmentDataFields del componente.
     views indica quali sono le possibili view che l'utente può scegliere. Esso è bindato a views del componente.
     contextMenu serve per scegliere se mostrare o meno un menù contestuale cliccando su un elemento dello jqxScheduler. Esso
     è disabilitato in questo caso.
     editDialog serve per scegliere se mostrare o meno un menù per la modifica di uno schedule se ci si clicca di sopra. Esso
     è disabilitato in questo caso.
     localization serve per impostare le scritte da mostrare nello jqxScheduler, consentendo la traduzione da inglese
     a italiano. In questo caso viene effettuato il binding alla variabile del componente.
     onDateChange permette di impostare un listener sul cambio di data da parte dell'utente nello jqxScheduler. In questo
     caso è impostato per chiamare la funzione onDateChange del componente e passandone l'event.
     onViewChange permette di impostare un listener sul cambio di view. In questo caso è impostato per chiamare la funzione
     onViewChange e passandone l'event
     -->
    <jqxScheduler #schedulerReference
        [width]="'100%'" [height]="'100%'" [source]="dataAdapter" [view]="'timelineDayView'" [appointmentDataFields]="appointmentDataFields"  
        [resources]="resources" [views]="views" [contextMenu]="false" [editDialog]="false"
        [localization]="localization" (onDateChange)="onDateChange($event)" (onViewChange)="onViewChange($event)">
    </jqxScheduler>
  </div>
</div>